body {

  /* font-weight: 300; */
  font-size: 15px;
  line-height: 1.7;
  color: #494949;
  background-color: #eeeeee;
  overflow-x: hidden;

}
.image-formR{
  height: 100px;
  position:static ;
  margin-top: 50px;
  top: 0;
  left: 0;
  align-self: flex-start;

}

.image-form{
  height: 100px;
}
body::after {
  content: "";
  background-image: url("https://images.pexels.com/photos/4466492/pexels-photo-4466492.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.90; /* Opacidad de la imagen de fondo */
  z-index: -1; /* Para que el pseudo-elemento esté detrás del contenido */
}
p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
}
a{
  color: inherit;
  text-decoration: none;
}


h6 span {
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.section {
  position: relative;
  width: 100%;
}

.full-height {
  min-height: 100vh;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.checkbox:checked + label,
.checkbox:not(:checked) + label {
  position: relative;
  display: block;
  text-align: center;
  width: 70px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: #b5b3b1;
}

.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before {
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #494949;
  background-color: #494949;
  font-family: 'unicons';
  content: '\eb4f';
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
}

.checkbox:checked + label:before {
  transform: translateX(44px) rotate(-270deg);
}

.card-3d-wrap {
  position: relative;
  width: 100%;
  max-width: 550px;
  height: 600px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 600ms ease-out;
}

a{
  margin: 0px;

}

.card-front{
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  background-position: bottom center;
  background-size: 300%;
  position: absolute;
  border-radius: 0px;
  left: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

}

.card-back {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  background-position: bottom center;
  background-size: 300%;
  position: absolute;
  border-radius: 0px;
  left: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}


.card-back {
  transform: rotateY(180deg);
}

.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}

.center-wrap {
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: block;
}

.form-group {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}

.form-style {
  width: 80%;
  padding: 20px;
  height: 60px;
  font-size: 20px;
  line-height: 30px;
  border: none;
  border-bottom: solid 0.3px;

}


.input-icon {
  position: relative;
  top: 2px;
  left: 18px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  text-align: left;

  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    z-index: 9999;
}

#logemail{
  margin-top: 100px;
}
.btn-form {
  border-radius: 0px;
  height: 60px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #7b7978;
  color: #ffffff !important;
}

.form-style:focus,
.form-style:active {
  outline: transparent;
}

.btn-form:active,
.btn-form:focus {
  box-shadow: 0 8px 24px 0 rgba(90, 88, 88, 0.984);
}

.btn-form:hover {
  background-color: #494949;
  color: #f1f0ee;
  box-shadow: 0 8px 24px 0 rgb(60, 57, 57);

}

@media (max-width: 576px )  {
  h4 {
    font-size: 18px;
  }

  .form-style {
    font-size: 16px;
    height: 50px;
  }

  .btn {
    height: 50px;
    font-size: 14px;
  }

  .card-3d-wrap {
    width: 100% !important;
    max-width: 500px;
    height: 600px;

  }

  .card-3d-wrapper {
    width: 100%;
    height: 100%;

  }
}



/* ============================================Footer======================================================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.footer {
  background-color: #f8f9fa;
  padding: 2px 0;
  position:relative;
  bottom: 0;
  left: 0;
  width: 100vw;
}


.footer-icons {
  list-style: none;
  padding: 0;
  margin:0px;
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}

.footer-icons a {
  color: #494949;
  border: none;
  padding: 0;
}

.footer-icons a svg {
  width: 30px;
  height: 30px;
  fill: #494949;
  stroke: #494949;
  stroke-width: 0.5px;
  transition: stroke 0.3s ease, transform 0.3s ease;
  margin:15px;
}

.footer-icons a:hover svg {
  stroke: #fbff00;
  transform: scale(1.2);
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-links li {
  flex-basis: 30%;
}

.footer-links a {
  color: #494949;
  text-decoration: none;
}

.footer-subtext {
  display: block;
  margin-top: 0px;
  font-family: 'Poppins', sans-serif;
  color: #494949;
  text-decoration: none;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  margin-top: 1px;
}

@media (max-width: 768px) {
  .footer-bottom {
    flex-direction: column;
    align-items: center;
  }
}




